.auth-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #f4f7fa;
}

.auth-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #5c6bc0;
}

.form-header h2 {
    margin-bottom: 20px;
    text-align: center;

}


.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.action-group {
    text-align: center;
}

.auth-btn {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #5C6BC0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-btn:hover,
.auth-btn:disabled {
    background-color: #3F51B5;
}

.auth-btn:disabled {
    cursor: default;
}


.switch-auth {
    margin-top: 20px;
    text-align: center;
}

.switch-auth span {
    color: #666;
    margin-right: 5px;
}

.switch-auth a {
    color: #5C6BC0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.switch-auth a:hover {
    color: #3F51B5;
    text-decoration: underline;
}
