.header {
    display: flex;
    height: 5vh;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f7fa;
    border-bottom: 1px solid #ccc;
}

.user-name {
    margin-right: auto;
    padding: 10px;
    font-size: 16px;
    color: #333;
}