.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 95vh;
    overflow-y: auto;
}

.chat-list li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    margin:5px;
}

.no-chats {
    color: #999;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chat-list-container button {
    width: 100%;
}

.chat-list li:hover {
    background-color: #579ae8;
    color: white;
}

.selected {
    background-color: #579ae8;
    color: white;
}